@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

/* General */

* {
	font-family: 'Merienda', cursive;
}

.body {
	font-family: 'Merienda', cursive;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1290px;
}

.info {
	padding: 80px 0 100px 0;
	text-align: center;
	&__wrapper {
		max-width: 590px;
		margin: 0 auto;
	}
	.divider {
		margin-bottom: 40px;
	}

	p {
		margin-bottom: 40px;
	}

	p:last-child {
		margin-bottom: 0;
	}
}