.header {
    background: url('../../img/background.png') center center/cover no-repeat;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    text-align: center;
    color: #fff;
    &__title {
        font-size: 40px;
        margin-top: 110px;
    }
}

.header__subtitle:nth-last-child(2) {
    margin-top:20px; 
}